<div fxFlex="100%" fxLayout="column" fxLayoutGap="12px">

  <div class="phone-book" fxLayout="row" fxLayoutGap="16px">
    <ng-container *ngIf="!addBook">
      <mat-form-field>
        <mat-label>Phone Book</mat-label>
        <mat-select (selectionChange)="changePhoneBook($event);">
          <mat-option
            *ngFor="let book of (phoneBook$ | async);"
            [value]="book.id">
            {{book.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>
  
      <button mat-raised-button (click)="newBook()">Add</button>  
    </ng-container>

    <ng-container *ngIf="addBook">
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput #phoneBookName />
      </mat-form-field>

      <button mat-raised-button (click)="saveBook(phoneBookName.value);">Save Book</button>
    </ng-container>
  </div>  

  <div fxLayout="row" fxLayoutGap="12px">
    <h1>Phone Book</h1>
    <button
      *ngIf="allowEntryAdd"
      mat-raised-button (click)="addEntry();">Add Entry</button>
  </div>

  <div
    [style.width]="'320px'"
    *ngIf="showEntryForm"    
    fxLayout="column"
    fxLayoutGap="12px">
    <form [formGroup]="newEntryForm" novalidate>
      <mat-form-field>
        <mat-label>Name</mat-label>
        <input matInput formControlName="name" />
      </mat-form-field>
  
      <mat-form-field>
        <mat-label>Phone Number</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>
  
      <button mat-raised-button (click)="saveEntry()">Save</button>  
    </form>
  </div>
  
  <div class="phone-book-container" fxLayout="row" fxLayoutGap="12px">    
    <div class="alphabet" fxLayout="column" fxLayoutGap="16px">
      <button mat-raised-button *ngFor="let alpha of alphabet;" (click)="filter(alpha);">{{alpha}}</button>
    </div>
    <div class="entries">
      <ul>
        <ng-container *ngIf="phoneBookEntrie$ | async as entries;">
          <ng-container *ngIf="entries.length >= 1; else noentry">
            <li
              *ngFor="let entry of entries;">
              {{ entry.name }} - {{entry.phoneNumber}}
            </li>
          </ng-container>
        </ng-container>
      </ul>
    </div>
  </div>

</div>

<ng-template #noentry>
  <label>No entries</label>
</ng-template>